@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: #080808;
      --foreground: #f7faff;
      
      --card: #080808;
      --card-foreground: #f7faff;
      
      --popover: #080808;
      --popover-foreground: #f7faff;
      
      --primary: #f7faff; 
      --primary-foreground: #15161a; 
      
      --secondary: #262c33;
      --secondary-foreground: #f7faff; 
      
      --muted: #262c33;
      --muted-foreground: #a6b3c4;
      
      --accent: #262c33;
      --accent-foreground: #f7faff; 
      
      --destructive: #99211f; 
      --destructive-foreground: #f7faff; 
      
      --border: #262c33;
      --input: #262c33;
      --ring: #d1ddec;

      --radius: 0.5rem;
    }

    .dark {





      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }